[submodule "exchange-server"]
    path = exchange-server
    url = git@github.com:Mosaic-Exchange/exchange-server.git
    branch = rumor-1.0


[submodule "llm-server"]
    path = llm-server
    url = git@github.com:Mosaic-Exchange/llm-server.git
	branch = add-dependency-to-pipfile
