[submodule "exchange-server"]
    path = exchange-server
    url = git@github.com:Mosaic-Exchange/exchange-server.git
    # change to main branch when ready to release
	branch = dev


[submodule "llm-server"]
    path = llm-server
    url = git@github.com:Mosaic-Exchange/llm-server.git
	branch = develop
